@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.cr_main {
		padding: 25px 10px 0;
	}
	
}

/* FOR-LG-START */
@media screen and (min-width: 992px) and (max-width: 1199px) {

	
	.mcr_top h3 br {
		display: none;
	}

	.mcr_top h3 {
		font-size: 19px;
	}

	.mcr_top a {
		font-size: 15px;
		padding: 10px 14px;
	}

	.cr_title h3 {
		font-size: 18px;
	}

	.crm_top p img {
		width: 85px;
	}

	.cr_main {
		padding: 25px 10px 0;
	}

	.feature_inner p img {
		width: 55px;
	}

	.feature_inner p {
		font-size: 14px;
	}

	.crm_top h5 {
		font-size: 15px;
	}

	.feature_inner {
		padding-bottom: 0px;
	}

	

	
} 

/*FOR-TABLATE-START*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.main_cnt_left {
		width: 70%;
	}

	.mcl_title h2 {
		font-size: 32px;
		line-height: 42px;
	}

	.main_cnt_right {
		width: 27%;
	}

	.mcr_top h3 {
		font-size: 17px;
	}

	.mcr_top a {
		font-size: 14px;
		padding: 10px 9px;
	}

	.cr_title h3 {
		font-size: 16px;
	}

	.crm_top p img {
		width: 55px;
	}

	.crm_top p {
		font-size: 14px;
	}

	.crm_top h5 {
		font-size: 12px;
	}

	.feature_inner p img {
		margin-right: 4px;
		width: 45px;
	}

	.feature_inner p {
		font-size: 12px;
	}

	.feature_inner {
		padding-bottom: 0px;
	}

	.cr_main {
		padding: 25px 10px 0;
	}

	

	

}

/*FOR-MOBIL-START*/
@media screen and (max-width: 767px) {

	.logo a {
		font-size: 14px;
	}

	.lan_t p {
		font-size: 14px;
	}

	.lan_img img {
		width: 80px;
		margin-top: 5px;
	}

	.top_bar {
		align-items: center;
		margin: 16px 0;
	}

	.top_bar p {
		font-size: 15px;
		line-height: 26px;
	}

	.top_bar h3 {
		width: initial;
		margin-right: 10px;
	}

	.top_bar h3 span {
		display: none;
		font-size: 15px;
		text-transform: uppercase;
	}

	.top_bar {
		padding: 8px 7px;
	}

	.top_bar p span {
		display: inline-block;
		font-size: 15px;
	}

	.main_cnt_left {
		width: 100%;
	}

	.mcl_title h2 {
		font-size: 26px;
		line-height: 36px;
	}

	.mcl_title h2 br {
		display: none;
	}

	.rating {
		padding: 10px 0 0;
	}

	.main_img_1 {
		padding: 15px 0;
	}

	.quota_box {
		padding: 15px 20px 15px 18px;
	}

	.main_cnt_right {
		width: 100%;
	}

	.crm_top h5 {
		text-align: center;
	}

	.crm_top p {
		justify-content: center;
	}

	.feature_title h3 {
		text-align: center;
	}

	.feature_inner {
		max-width: 228px;
		margin: 0 auto;
		padding-bottom: 6px;
	}

	.crm_top h4 {
		text-align: center;
	}

	.crm_top {
		padding-bottom: 0px;
	}

	.feature_inner p img {
		width: 62px;
	}

	.mcr_top h3 br {
		display: none;
	}

	.mcr_top h3 {
		max-width: 192px;
		margin: 0 auto;
	}

	.footer_img {
		display: none;
	}

	.footer_sm {
		display: block;
	}


	



}




		
		         
