@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




/*==BASIC-SETUP==*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
}

.scraped-container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row > div {
  padding-right: 15px;
  padding-left: 15px;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-bottom: 0;
}

/* scroll-bar */
.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: rgba(51, 51, 51, 0.7);
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  right: 8px;
  bottom: 10px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  color: #fff;
  background: rgba(51, 51, 51, 0.5);
}

/*==THIS IS START==*/

.header_area {
  background-color: #000000;
}

.header_inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.logo a {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 64px;
  transition: 0.3s;
  color: #ffffff;
  text-transform: capitalize;
}

.logo a:hover {
  opacity: 0.8;
}

.lan {
  display: flex;
  align-items: center;
}

.lan_t p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 64px;
  color: #ffffff;
}

.main_cnt_wrapper {
  padding-bottom: 50px;
}

.top_bar {
  background-color: #FEFCDF;
  border-radius: 10px;
  border: 1px solid #DF7304;
  padding: 28px 50px;
}

.top_bar {
  display: flex;
  align-items: flex-start;
  margin: 25px 0;
}

.top_bar h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #F10000;
  margin: 0;
  width: 175px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.top_bar h3 img {
  margin-right: 5px;
}

.top_bar p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

.top_bar p span {
  font-size: 22px;
  font-weight: 600;
  color: #F10000;
  display: none;
}

.top_bar p a {
  color: #0081EB;
  transition: 0.2s;
}

.top_bar p a:hover {
  opacity: 0.8;
}

.main_cnt_inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 17px;
}

.main_cnt_left {
  width: 75%;
}

.main_cnt_right {
  width: 23%;
  background-color: #F2F2F2;
  border-radius: 1px;
  padding-bottom: 10px;
}

.mcl_title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 37px;
  font-weight: 700;
  color: #000000;
  line-height: 50px;
  margin: 0;
}

.rating {
  display: flex;
  align-items: center;
  padding: 20px 0 0;
}

.rating p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #007185;
  margin: 0 !important;
  margin-left: 8px !important;
}

.main_img_1 {
  padding: 24px 0;
}

.main_img_1 video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.main_img_1 img {
  width: 100%;
  border-radius: 5px;
}

.mcl_title p {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  margin: 0 0 28px;
}

.mcl_title h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  font-style: italic;
}

.quota_box {
  background-color: #EEEEEE;
  border-left: 4px solid #3AE78E;
  padding: 15px 94px 15px 28px;
  margin-bottom: 20px;
}

.quota_box p {
  color: #303030;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  margin: 0 0 40px;
}

.quota_box p:last-of-type {
  margin: 0;
}

.text_margin {
  margin: 0 !important;
}

.mcl_title p a {
  text-decoration: underline;
  color: #0060CE;
  font-weight: 700;
  transition: 0.3s;
}

.mcl_title p a:hover {
  opacity: 0.8;
}

.main_btn {
  margin-bottom: 20px;
}

.main_btn a {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 20px 20px;
  transition: 0.3s;
  text-transform: capitalize;
  background-color: #E1662D;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 1px #252A3252;
}

.main_btn a:hover {
  opacity: 0.8;
}

.mcl_title h2 span {
  color: #FF0000;
}

.mcr_top {
  text-align: center;
  padding: 36px 16px 30px 16px;
}

.mcr_top h3 {
  font-family: "Montserrat", sans-serif;
  color: #4AA3E9;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.product img {
  padding: 20px 0;
}

.mcr_top a {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DF7304;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.2s;
  line-height: 22px;
  text-transform: uppercase;
}

.mcr_top a:hover {
  opacity: 0.8;
}

.customer_reviwe_cnt {
  margin: 0 10px;
  background-color: #ffffff;
}

.cr_title h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 15px 0;
  border-bottom: 2px solid #F2F2F2;
}

.cr_main {
  padding: 25px 20px 0;
}

.crm_top {
  padding-bottom: 25px;
}

.crm_top h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #333333;
  text-align: right;
  margin: 0 0 15px;
}

.crm_top h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #BBBBBB;
  margin: 0 0 15px;
}

.crm_top p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #009926;
  margin: 0 0 15px;
}

.crm_top p img {
  width: 128px;
  margin: 0 5px;
}

.feature_title h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  margin: 0 0 10px;
}

.feature_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

.feature_inner:last-of-type {
  padding-bottom: 0;
}

.feature_inner p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}

.feature_inner p img {
  margin-right:  8px;
}

.text_margin_top {
  margin-top: 20px !important;
}

.footer_sm {
  display: none;
  padding: 20px 0;
}

.footer_sm img {
  width: 100%;
}